# Auto detect text files and perform LF normalization
* text=auto

*.dll binary
*.fdb binary

#
# Exclude files from exporting
#
.gitattributes  export-ignore
.gitignore      export-ignore

*.dpr  working-tree-encoding=CP1251    eol=CRLF
*.pas  working-tree-encoding=CP1251    eol=CRLF
Readme.md working-tree-encoding=CP1251    eol=CRLF
